#app-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #131313;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 20px;
    z-index: 100;
}

#logo {
    margin: 0.5em;
    width: 48px;
    height: 48px;
    user-select: none;
}

#button-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:end;
    margin-right: 1rem;
}

#project-input {
    width: 50%;
    max-width: 100%;
}