#app-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 20px;
    z-index: 100;
    height: 64px;
}

#logo {
    justify-self: center;
    align-self: center;
    margin: 5px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    user-select: none;
}

#button-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:end;
    margin-right: 1rem;
}