#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: 4px solid transparent;
}

.tpose-phase {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tpose-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  background-color: #131313;
  border: solid #333 2px;
  padding: 2em;
  border-radius: 16px;
  text-align: center;
  box-shadow: black 0px 0px 25px;
}

#tpose-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#camera-overlay {
  position: relative; /* important: create a positioning context */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 60vh;
}

/* canvas directly on top of video */
#camera-overlay canvas, #camera-overlay video, #camera-overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centers perfectly */
  height: 50vh;
  width: 60vh;
  object-fit:cover;
  pointer-events: none; /* lets clicks pass through */
  border-radius: 16px;
}

.camera-controls select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  padding: 1rem;
  width: 100%;
  border-radius: 16px;
  background-color: #131313;
  margin-top: 1rem;
  border: 2px solid #333;
  outline: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' width='20' viewBox='0 0 20 20'><path d='M5 8l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
}

.calibrate-overlay {
  position: absolute;
  margin-top: 1em;
  right: 1em;
}

.calibrate-overlay button, .tpose-overlay button {
  padding: 0.5rem 1rem;
  border-radius: 16px;
  background-color: var(--primary);
  border: solid 2px transparent;
  cursor: pointer;
  transition: 0.35s ease all;
}

.calibrate-overlay button:hover, .tpose-overlay button:hover {
  border: solid 2px var(--primary);
  background-color: transparent;
  color: var(--primary);
}

#record-button {
  position: absolute;
  background-color: var(--primary);
  transition: color ease 0.2s;
  display: flex;
  /* use flexbox */
  align-items: center;
  /* vertical centering */
  justify-content: center;
  /* horizontal centering */
  height: 64px;
  /* button height */
  width: 64px;
  /* button width */
  bottom: 1rem;
  border: none;
  border-radius: 50%;
  border: solid 4px white;
  transition: all 0.1s ease;
}

#record-button.recording {
  background-color: darkred;
  border-radius: 10%;
  border: solid 4px var(--primary);
}

#camera-preview {
  position: absolute;
  display: flex;
  height: 10rem;
  margin-top: 1em;
  left: 1em;
}

/* canvas directly on top of video */
#camera-preview canvas, #camera-preview video {
  position: absolute;
  height: 25vh;
  width: 25vh;
  object-fit:cover;
  pointer-events: none; /* lets clicks pass through */
  border-radius: 16px;
}

#calibration-countdown {
  position: absolute;
  font-size: 6em;
  color: var(--primary);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  z-index: 100;
}

#countdown-container {
  position: absolute;
  top: 45%;
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  border: solid 2px #333;
  font-size: 2em;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#recording-frame {
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 72px);
  border: solid transparent 2px;
  pointer-events: none;
}

#recording-frame.recording {
  border: solid var(--primary) 2px;
}

.no-camera-popup {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999; /* ensure it's on top of other elements */
}

.no-camera-popup div {
  margin-bottom: 3rem;
}