#timeline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5em;
  z-index: 10;
  display: flex;
}

#timeline #bar {
  width: 100%;
  background-color: #131313;
  border: solid 1px #333;
  border-radius: 16px;
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#timeline input {
  width: 3em;
}

#scrollbar {
  position: relative;
  flex-grow: 1;
  height: 5px;
  background: #444;
  margin: 0 10px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#scrollbar #handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 20px;
  background: var(--primary);
  border-radius: 3px;
  pointer-events: none;
  transition: left 0.025s linear;
}

.frameInfo {
  user-select: none;
}