
#root {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.panel {
    overflow: hidden;
}

.split-handle {
    width: 3px;
    background: #444;
    cursor: col-resize;
    user-select: none;
}

.popup-overlay {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    height: 80%;
    width: 80%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: #131313;
    border-radius: 15px;
}

#app-panel {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1em;
}

.iconButton {
    width: 48px;
    height: 48px;
    font-size: 1em;
    background-color: transparent;
    border: none;
}

.iconButton:hover {
    cursor: pointer;
}

.iconButton.active {
    color: green;
}

.textButton {
    height: 50%;
    background-color: red;
}