
#root {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.panel {
    overflow: hidden;
}

.split-handle {
    width: 3px;
    background: var(--grey);
    cursor: col-resize;
    user-select: none;
}

#app-panel {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1em;
}

.iconButton {
    width: 48px;
    height: 48px;
    font-size: 1em;
    background-color: transparent;
    border: none;
    transition: color ease 0.35s;
}

.iconButton:hover {
    cursor: pointer;
    color: var(--primary-light);
}

.iconButton.active {
    color: var(--primary);
}