:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #131313;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: #F54900; /* https://uicolors.app/tailwind-colors */
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.iconButton {
  background-color: transparent;
  color: white;
  transition: color ease 0.2s;
  display: flex;              /* use flexbox */
  align-items: center;        /* vertical centering */
  justify-content: center;    /* horizontal centering */
  height: 36px;               /* button height */
  width: 36px;                /* button width */
  border: none;
  border-radius: 4px;         /* optional rounded corners */
  font-size: 18px;            /* icon size */
}

.iconButton:hover {
    color: var(--primary);
}

input {
  background-color: #0A0A0A;
  padding: 5px;
  border: solid #333 1px;
  border-radius: 12px;
  text-align: center;
  transition: border 0.25s ease;
}

input:focus {
  outline: none;
  border-color: var(--primary);
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
