:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: #F54900;
  --background-color: #131313;
  --viewport-background-color: #111;

  background-color: var(--background-color);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* TEXT */

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* BUTTONS */

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.iconButton {
  background-color: transparent;
  color: white;
  transition: color ease 0.2s;
  display: flex;              
  align-items: center;
  justify-content: center;  
  height: 36px;
  width: 36px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.iconButton:hover {
    color: var(--primary);
}

/* INPUTS */

input {
  background-color: #0A0A0A;
  padding: 5px;
  border: solid #333 1px;
  border-radius: 12px;
  text-align: center;
  transition: border 0.25s ease;
}

input:focus {
  outline: none;
  border-color: var(--primary);
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
